.card{
    font-family: Zalando Sans;
    width: 500px;
    height: 220px;
    /* border-style: solid; */
    border-color: black;
    margin: auto;
    transform: translateY(30vh);
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: rgb(241, 236, 236);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 30px;
    img{
        position: relative;
        width: 150px;
        border-radius: 5px;
        box-shadow: inset;
        
    }box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    h3{
        margin-top: 10px;
    }
}
.card > .contents > p{
    margin-bottom: 40px;
    font-family: Source Code Pro;
}
.card > .contents > .buttons{
    margin-left: 50px;
    margin-bottom: 30px
}
.btn1{
    background-color: rgb(19, 163, 230);
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    border:none;
    transition: opacity 0.25s;
}
.btn1:hover{
    opacity: 0.8;
}
.btn1:active{
    opacity: 0.5;
}

.btn2{
    background-color: rgb(19, 163, 230);
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    border:none;
    transition: opacity 0.25s;
}
.btn2:hover{
    opacity: 0.8;
}
.btn2:active{
    opacity: 0.5;
}